body {
    font-family: Arial, sans-serif;
    background-color: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 400px;
    max-width: 100%;
}

.form-container {
    padding: 40px;
    text-align: center;
}

.login-options {
    text-align: center;
    margin-bottom: 20px;
}

.login-options img {
    max-width: 50px; /* Reduce logo size */
    border: 2px solid #ccc; /* Grey border */
    border-radius: 50%; /* Rounded shape */
    padding: 5px; /* Adjust padding for border */
    margin: 0 10px; /* Add space between logos */
}

.login-options a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

input {
    width: calc(100% - 12px); /* Adjusted width to accommodate the "Forgot password" link */
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    float: left; /* Float the input field to the left */
}

.forgot-password {
    text-align: right;
    margin-top: 10px;
    float: right; /* Float the "Forgot password" link to the right */
}

.forgot-password a {
    color: blue; /* Changed color to blue */
    text-decoration: underline; /* Underlined the link */
    font-size: 12px;
}

.forgot-password a:hover {
    color: #0056b3; /* Darker shade of blue on hover */
}

button {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    background-color: #ff4b2b;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e28077;
}

.switch-button {
    background-color: transparent;
    border: none;
    color: #ff4b2b;
    font-size: 14px;
    cursor: pointer;
    transition: color 0.3s;
}

.switch-button:hover {
    color: #ffffff;
}